* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #E2F4A1; /* yellow */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.site-name {
  font-size: 1.8rem;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hero {
  background-image: url('img/home-pic.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  color: rgb(26, 23, 23);
  border-radius: 10px;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

button:first-child {
  background-color: white;
  color: black;
}

button:last-child {
  background-color: #FFD700;
  color: black;
}
